<div id="<%= dom_id lesso %>">
  <div>
    <strong>Course:</strong>
    <%= lesso.course_id %>
  </div>

  <div>
    <strong>Unit:</strong>
    <%= lesso.unit_id %>
  </div>

  <div>
    <strong>Name:</strong>
    <%= lesso.name %>
  </div>

  <div>
    <strong>Filename:</strong>
    <%= lesso.filename %>
  </div>

</div>
