<p style="color: green"><%= notice %></p>

<%= render @lesso %>

<div>
  <%= link_to "Edit this lesso", edit_lesso_path(@lesso) %> |
  <%= link_to "Back to lessos", lessos_path %>

  <%= button_to "Destroy this lesso", @lesso, method: :delete %>
</div>
