<% content_for(:title, @course.name) %>

<p style="color: green"><%= notice %></p>

<div class="mb-3">
  <%= link_to "Editar este curso", edit_course_path(@course) %>
</div>

<section class="flex items-start flex-col peer lg:flex-row w-full lg:gap-8 lg:pr-[3.4rem] lg:pl-[4.375rem] relative">
  <div class="lesson-display flex flex-col gap-[0.375rem] relative mx-auto justify-end w-full lg:w-[85%] h-auto lg:h-auto xl:w-[63.05%] leading-none overflow-visible aspect-auto">
    <%= turbo_frame_tag "video-player-container", class: "aspect-video flex items-center w-full lg:rounded-2xl lg:overflow-hidden bg-black" do %>
    <% end %>
  </div>

  <aside data-type="lessonDrawer" data-theater="false" class="hidden md:block w-full lg:max-w-[35.35%] overflow-y-auto peer-data-[state='checked']/lesson:hidden" style="height: 907px;">
    <% @course.units.each do |unit| %>
      <div class="collapse bg-base-100 border-base-300 border mb-3">
        <input type="checkbox" />
        <div class="collapse-title font-semibold"><%= unit.name %></div>
        <div class="collapse-content text-sm">
          <ul class="steps steps-vertical">
            <% unit.lessons.each do |lesson| %>
              <!-- <li class="step step-primary"><%= lesson.name %></li> -->
              <li class="step"><%= link_to lesson.name, lesson, data: { 'turbo-frame': "video-player-container" } %></li>
            <% end %>
          </ul>
        </div>
      </div>
    <% end %>
  </aside>
</section>
