<div class="breadcrumbs text-sm my-3">
  <ul>
    <li><%= link_to 'Todos os cursos', root_path %></li>
    <li><%= @course.name %></li>
  </ul>
</div>

<div class="flex justify-between items-center mb-3">
  <%= link_to course_path(@course), class: "btn" do %>
    <i class="ti ti-arrow-left"></i>
    Voltar
  <% end %>
  
  <%= render 'shared/components/page_title', title: @course.name %>
</div>

<div class="mb-3">
  <%= link_to "Editar este curso", edit_course_path(@course) %>
</div>

<div class="divider"></div>

<div class="grid grid-cols-2 md:grid-cols-3 gap-2">
  <% @course.units.each do |unit| %>
  <div class="card bg-base-100 shadow-sm">
    <figure>
      <img
        src="https://img.daisyui.com/images/stock/photo-1606107557195-0e29a4b5b4aa.webp"
        alt="Shoes" />
    </figure>
    <div class="card-body">
      <h2 class="card-title h-15">
        <%= link_to unit.name, [@course, unit] %>
      </h2>

      <progress class="progress w-full" value="<%= unit.completed_lessons_count %>" max="<%= unit.lessons.count %>"></progress>
      <p>
        <%= unit.completed_lessons_count %> de <%= unit.lessons.count %> aulas concluídas
      </p>
    </div>
  </div>
    <% end %>
</div>
